.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #0003;
  padding: 0.5rem;
}

main {
  flex: 1;
}

footer {
  background: #0003;
  height: 1rem;
  padding: 0.5rem;
}

body .App .Toastify__toast {
  min-height: 0 !important;
}
